<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTNO</title>
    <link rel="icon" href="./assets/images/Wheel_icon-icons.com_54891.ico">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <h1>RTNO <span class="title">Servicios</span></h1>
        <h3>SECOND LIFE</h3>
        <img src="/assets/images/ECO.png" alt="eco" class="eco" >
        <img src="/assets/images/tire2.jpg" alt="tire" class="tire">
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/presupuesto.html">Presupuesto</a></li>
            <li><a href="/views/Productos.html">Productos</a></li>
            <li><a href="/views/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main class="aviso">
        <h2>Aviso Legal</h2>
        <h3>Datos de contacto</h3> 
        <p>www.insaturbo.com es un dominio en Internet de titularidad de RTNO Servicion(CIF B-98881139) con domicilio en Plaza Rustica 4, Olias del Rey (Toledo), Teléfono: 654646928</p>
        <p>Industrias del Neumático S.A.U. inscrita en el Registro Mercantil de Alicante, al Tomo 935, libro 407, Sección 3ª, Folio, 176, Hoja 9135, Inscripción 1ª el 20 de Noviembre de 1987 es una empresa dedicada a la fabricación de neumáticos recauchutados/reciclados.</p>
        <p>Por otra parte, RTNO Servicios advierte que, tanto los contenidos y servicios de esta página web como las propias condiciones de utilización, pueden ser modificados sin notificación previa.</p>
        <p>Quedan reservados todos los derechos. Se prohíbe la reproducción, distribución, comunicación pública y utilización, total o parcial, de los contenidos de esta publicación, en cualquier forma o modalidad, sin previa y expresa autorización.</p>
        <p>RTNO Servicios no responde de los Enlaces (LINKS) a otras páginas de Internet de terceros y su existencia no implica que Industrias del Neumático S.A.U. apruebe o acepte sus contenidos y servicios. Estas otras páginas web no están controladas por RTNO Servicios ni cubiertas por el presente Aviso Legal. Si accede a otras páginas web utilizando los Links proporcionados, los operadores de dichos sitios web podrán recoger su información personal.</p>
    </main>      
    <footer>
        <a href="/views/avisolegal.html" class="legal">Aviso Legal</a>
        <a href="https://www.instagram.com"> 
            <img src="/assets/images/instagram.png" alt="instagram"
            class="insta"/></a>
        <a href="https://www.facebook.com">
            <img src="/assets/images/facebook.png" alt="facebook" class="face"></a>
            <p>&copy;RTNO Servicios. Todos los derechos reservados</p>
    </footer>
</body>