<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTNO</title>
    <link rel="icon" href="./assets/images/Wheel_icon-icons.com_54891.ico">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <!--Encabezado-->
    <header>
        <h1>RTNO <span class="title">Servicios</span></h1>
        <h3>SECOND LIFE</h3>
        <img src="/assets/images/ECO.png" alt="eco" class="eco" width="256" height="256">
        <img src="/assets/images/tire2.jpg" alt="tire" class="tire" width="640" height="360">
    </header>
    <!--Barra de Navegación-->
    <nav>
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/presupuesto.html">Presupuesto</a></li>
            <li><a href="/views/productos.html">Productos</a></li>
            <li><a href="/views/contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main class="cont"> 
        <article class="cnt">
            <h3>Contacte con nosotros</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.0994498950954!2d-3.9856825226032053!3d39.961529171516574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41e30811d76c35%3A0xcb347657b8c94ad2!2sNCCO!5e0!3m2!1ses!2ses!4v1735535874183!5m2!1ses!2ses" allowfullscreen="" loading="lazy"     referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
            <p>&#128205;Plaza Rustica 4</p>
            <p>Olias del rey</p>
            <p>Toledo</p>
            <p>&#128222;Tlf:654646928</p>
            <p>&#128231;spiwodtsw712@gmail.com</p>
        </article>
    </main> 
    <!--Pie de página-->    
    <footer>
        <a href="/views/avisolegal.html" class="legal">Aviso Legal</a>
        <a href="https://www.instagram.com"> 
            <img src="/assets/images/instagram.png" alt="instagram"
            class="insta" width="64" height="64"/></a>
        <a href="https://www.facebook.com">
            <img src="/assets/images/facebook.png" alt="facebook" class="face" width="72" height="72"></a>
            <p>&copy;RTNO Servicios. Todos los derechos reservados</p>
    </footer>
</body>
