<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTNO</title>
    <link rel="icon" href="./assets/images/Wheel_icon-icons.com_54891.ico">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <h1>RTNO <span class="title">Servicios</span></h1>
        
        <h3>SECOND LIFE</h3>
        <img src="/assets/images/ECO.png" alt="eco" class="eco" >
        <img src="/assets/images/tire2.jpg" alt="tire" class="tire">
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/presupuesto.html">Presupuesto</a></li>
            <li><a href="/views/Productos.html">Productos</a></li>
            <li><a href="/views/contacto.html">Contacto</a></li>
        </ul>
    </nav>

    
    
    <main>
        <form action="insertar.php" method="post" enctype="multipart/form-data">
            
            <img src="/assets/images/contact.jpg" alt="contact" class="contact">
            
            <h3>Pida su presupuesto</h3>
            
            <label for="nombre">Nombre</label><label for="nombre" class="ape">Apellido</label><br>
            <input type="text" name="nombre" id="nombre">

                
            <input type="text" name="apellido" id="apellido"><br>
    
            <label for="email">Email</label><br>
            <input type="email" name="correo" id="email"><br>
    
            <label for="telefono">Teléfono</label><br>
            <input type="tel" name="correo" id="telefono" ><br>
                
            <label for="opción">Elija una opción</label><br>
            <select name="opción" id="opción">
                <option value="e">Empresa</option>
                <option value="c">Cliente particular</option>
            </select><br>
            <label for="provincia">Provincia</label><br>
            <textarea name="provincia" id="provincia" cols="40" rows="2"></textarea><br>
                
            <label for="mensaje">Mensaje</label><br>
            <textarea name="mensaje" id="mensaje" cols="40" rows="6" ></textarea><br>

            <input type="checkbox" name="privacidad" value="si" id="privacidad">
            <label for="privacidad" class="pri">He leído y acepto la <br>politica de privacidad</label><br>

            <input type="submit" class="enviar" value="ENVIAR">
      
        </form>
    </main>
    <footer>
        <a href="/views/avisolegal.html" class="legal">Aviso Legal</a>
        <a href="https://www.instagram.com"> 
            <img src="/assets/images/instagram.png" alt="instagram"
            class="insta"/></a>
        <a href="https://www.facebook.com">
            <img src="/assets/images/facebook.png" alt="facebook" class="face"></a>
            <span>&#128222;Tlf:654646928</span>
            <span>&#128231;spiwodtsw712@gmail.com</span>
            <p>&#128205;Plaza Rustica 4, Olias del Rey (Toledo)</p>
            <p>&copy;RTNO Servicios. Todos los derechos reservados</p>   
    </footer>
</body>    