<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTNO</title>
    <link rel="icon" href="./assets/images/Wheel_icon-icons.com_54891.ico">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <!--Encabezado-->
    <header>
        <h1>RTNO <span class="title">Servicios</span></h1>
        <h3>SECOND LIFE</h3>
        <img src="/assets/images/ECO.png" alt="eco" class="eco" width="256" height="256" >
        <img src="/assets/images/tire2.jpg" alt="tire" class="tire" width="640" height="360">
    </header>
    <!--Barra de Navegación-->
    <nav>
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/presupuesto.html">Presupuesto</a></li>
            <li><a href="/views/productos.html">Productos</a></li>
            <li><a href="/views/contacto.html">Contacto</a></li>
        </ul> 
    </nav>
    <main> 
        <!--Sección de imagenes--> 
        <section> 
            <h2 class="marcas">NUESTRAS MARCAS DE OCASIÓN</h2>          
            <div>
                <img src="/assets/images/michelin.jpg" alt="michelin" width="300" height="348">
                <img src="/assets/images/continental.jpg" alt="continental" width="300" height="348">
                <img src="/assets/images/bridgestone.jpg" alt="bridgestone" width="300" height="348"> 
                <img src="/assets/images/goodyear.jpg" alt="goodyear" width="300" height="348">   
            </div>
            <div>
                <img src="/assets/images/pirelli.jpg" alt="pirelli" width="278" height="348">
                <img src="/assets/images/hankook.jpg" alt="hankook" width="278" height="348">
                <img src="/assets/images/dunlop.jpg" alt="dunlop" width="278" height="348">
                <img src="/assets/images/yokohama.jpg" alt="yokohama" width="278" height="348">
            </div>
            <!--Sección de texto-->
        <p>Todos nuestros neumáticos son comprobados mediante una maquina de aire a presión y pasan por varios operarios que revisan al minimo detalle el neumático completo para su seguridad. Tambien son tratados con un liquido abrillantador para embellecerlos.</p>
        <p>Para mas información sobre las memidas y otro tipo de marcas disponibles en nuestro almacén, entre en el apartado de presupuesto y rellena nuestro formulario estaremos dispuestos a responder a todo tipo de dudas y consultas.</p>
        <p>Disponemos también de un stock de neumáticos nuevos y se pueden pedir más a través de encargo</p>
        </section>
    </main>
    <!--Pie de página-->
    <footer>
        <a href="/views/avisolegal.html" class="legal">Aviso Legal</a>
        <a href="https://www.instagram.com"> 
            <img src="/assets/images/instagram.png" alt="instagram"
            class="insta" width="64" height="64"/></a>
        <a href="https://www.facebook.com">
            <img src="/assets/images/facebook.png" alt="facebook" class="face" width="72" height="72"></a>
            <span>&#128222;Tlf:654646928</span>
            <span>&#128231;spiwodtsw712@gmail.com</span>
            <p>&#128205;Plaza Rustica 4, Olias del Rey (Toledo)</p>
            <p>&copy;RTNO Servicios. Todos los derechos reservados</p> 
    </footer>
</body>