<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTNO</title>
    <link rel="icon" href="./assets/images/Wheel_icon-icons.com_54891.ico">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <h1>RTNO <span class="title">Servicios</span></h1>
        <h3>SECOND LIFE</h3>
        <img src="/assets/images/ECO.png" alt="eco" class="eco" >
        <img src="/assets/images/tire2.jpg" alt="tire" class="tire">
    </header>
    <nav>
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/presupuesto.html">Presupuesto</a></li>
            <li><a href="/views/Productos.html">Productos</a></li>
            <li><a href="/views/contacto.html">Contacto</a></li>
        </ul> 
    </nav>
    <main>
        <aside>
            <h2>NEUMATICOS DE OCASIÓN</h2>
            <img src="/assets/images/reciclado.jpg" alt="ocasion">
            <h2>RECICLAJE DE NEUMÁTICOS</h2>
            <img src="/assets/images/pile-1868894_640.jpg" alt="reciclaje de neumatico"> 
            <h2>CARCASAS PARA RECAUCHUTAR</h2>
            <img src="/assets/images/ContiLifeCycle-Retread.jpg" alt="carcasas">
            <h2>TRANSPORTE DE NEUMÁTICOS</h2>
            <img src="/assets/images/transporte.jpg" alt="trans">
        </aside>
        <section> 
            <h2 class="marcas">NUESTRAS MARCAS DE OCASIÓN</h2>          
            <div>
                <img src="/assets/images/michelin.jpg" alt="michelin">
                <img src="/assets/images/continental.jpg" alt="continental">
                <img src="/assets/images/bridgestone.jpg" alt="bridgestone"> 
                <img src="/assets/images/goodyear.jpg" alt="goodyear">   
            </div>
            <div>
                <img src="/assets/images/CGI Tire ASSET _ Pirelli P ZERO™ R 305_35 ZR21 (109Y) 180_AA_A by cyanide227.jpg" alt="pirelli">
                <img src="/assets/images/Hankook ION FIA Formula E 2023 265_40 ZR18 Available on Artstation Marketplace.jpg" alt="hankook">
                <img src="/assets/images/Dunlop® Circuit WET  LeMans24 • 280_680 R18 Available on ArtStation Marketplace.jpg" alt="dunlop">
                <img src="/assets/images/Yokohama ADVAN A048  295_30ZR18 (98Y) 60_AA_A Available on Artstation Marketplace.jpg" alt="Yokohama">
            </div>
            <p>Todos nuestros neumáticos son comprobados mediante una maquina de aire a presión y pasan por varios operarios que revisan al minimo detalle el neumático completo para su seguridad. Tambien son tratados con un liquido abrillantador para embellecerlos.</p>
        <p>Para mas información sobre las memidas y otro tipo de marcas disponibles en nuestro almacén, entre en el apartado de presupuesto y rellena nuestro formulario estaremos dispuestos a responder a todo tipo de dudas y consultas.</p>
        <p>Disponemos también de un stock de neumáticos nuevos y se pueden pedir más a través de encargo</p>

        </section>

    </main>
    <footer>
        <a href="/views/avisolegal.html" class="legal">Aviso Legal</a>
        <a href="https://www.instagram.com"> 
            <img src="/assets/images/instagram.png" alt="instagram"
            class="insta"/></a>
        <a href="https://www.facebook.com">
            <img src="/assets/images/facebook.png" alt="facebook" class="face"></a>
            <span>&#128222;Tlf:654646928</span>
            <span>&#128231;spiwodtsw712@gmail.com</span>
            <p>&#128205;Plaza Rustica 4, Olias del Rey (Toledo)</p>
            <p>&copy;RTNO Servicios. Todos los derechos reservados</p> 
    </footer>
</body>